<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center;">Cadastrar setor</h3>
    </div>
    <div class="col-md-12">
        <form action="/createSetor" method="POST" >
            <div class="row">
                <div class="col-md-6">
                    <label for="login">Nome:</label>
                    <input class="form-control" type="text" placeholder="Nome do setor" name="nome">
                </div>
                <div class="col-md-6" style="display: flex; align-items: center; justify-content: center;">
                  <button class="btn btn-warning" type="submit" data-toggle="modal" data-target="#exampleModalCenter" style="width: 200px;">Criar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <h3 style="text-align: center;">Listar setores</h3>
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Ativo</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% setor.forEach(item => {%> 
                    <tr>
                        <th scope="row"><%= item.id_setor %></th>
                        <td><%= item.nome %></td>
                        <td> 
                            <% if(item.is_active) {%>
                                Ativo
                            <% }else { %>
                                Inativo
                            <% } %>
                        </td>
                        <td>
                            <form action="/activeSetor" method="post">
                                <% if(item.is_active) {%>
                                    <input type="text" name="id_setor" value="<%= item.id_setor %>" style="display: none;" readonly>
                                    <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Inativar">
                                        Inativar
                                    </button>
                                <% }else { %>
                                    <input type="text" name="id_setor" value="<%= item.id_setor %>" style="display: none;" readonly>
                                    <button type="submit" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Ativar">
                                        Ativar
                                    </button>
                                <% } %>
                            </form>

                        </td>
                    </tr>
                <% }); %>
              </tbody>
        </table>
    </div>
</div>