
<footer class="bgDark">
    <div class="flex">
        <div style="display: flex; align-items: center; justify-content: center;">
            <div class="d-flex justify-content-center align-items-center itensFooter">
                <p>
                    brcontrolc@gmail.com / (11)94496-3335 / Rua César sgarbi, 77 Vila Oliveira Mogi das Cruzes
                </p>
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div class="d-flex justify-content-center align-items-center">
                <div class="containerIconsFooter">
                    <img src="/img/facebook.svg">
                </div>
                <div class="containerIconsFooter" style="border: none;">
                    <img src="/img/whatsapp.svg">
                </div>
                <div class="containerIconsFooter">
                    <img src="/img/instagram.svg">
                </div>
            </div>
        </div>
    </div>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>