<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%=  %> </title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/slick-theme.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


</head>
<body>
  <header class="container-fluid bgDark">
    <div class="row">
      <div class="col-md-6">
        <img src="/img/logoDark.png" class="logoHeaders">
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <ul class="listHeader d-flex">
          <li>
            <a href="/">
              HOME
            </a>
          </li>
          <li>
            <a href="/produtos">
              PRODUTOS
            </a>
          </li>
          <li>
            <a href="/faleConosco">
              FALE CONOSCO
            </a>
          </li>
        </ul>
        <% if(!usuario) {%>
        <div class="dropdown" style="padding-top: 5px;">
          <div class="userHeader dropdown-toggle"  id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./img/user.svg" alt="" srcset="">
          </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/login">Logar</a></li>
              <li><a class="dropdown-item" href="/cadastro">Cadastrar</a></li>
            </ul>
        </div>
        <% }else { %>
          <div class="status" style="display: flex; align-items: center; justify-content: center;">
            <h4 style="font-size: 17px; margin: 0;">Bem vindo <a href="/cliente" style="text-decoration: none; color: #fd7c0d;"><%= usuario.nome %></a> </h4>
            <a href="/logout" style="text-decoration: none; font-size: 17px; color: white; margin-left: 20px;"> <img src="/img/log-out.svg" class="log"></a>
          </div>
       <% } %>
      </div>
    </div>
  </header>