<%- include('./partials/header') %>

<main class="mgBottomInfo">
    <div class="container cardHome">
        <div class="infoNomeProduto">
            Fale conosco
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Seu email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Seu email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Menssagem</label>
                    <textarea class="form-control" placeholder="Deixe sua menssagem aqui..." id="floatingTextarea2" style="height: 100px"></textarea>
                </div>
                <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
                    <button type="button" class="btn btn-warning" style="width: 200px;">Enviar</button>
                </div>
            </div>
            <div class="col-md-6">
                <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.2025043056647!2d-46.16689438502278!3d-23.52521788470087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdd9b1a3318007%3A0x31132854414445e7!2sR.%20C%C3%A9sar%20Sgarbi%2C%2077%20-%20Vila%20Nova%20Socorro%2C%20Mogi%20das%20Cruzes%20-%20SP%2C%2008790-615!5e0!3m2!1spt-BR!2sbr!4v1624291346583!5m2!1spt-BR!2sbr" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Telefone: (11)94496-3335</label>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Endereço: Rua César sgarbi, 77</label>
                </div>
            </div>
        </div>
    </div>
</main>


<%- include('./partials/footer') %>
