<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title> <%=  %> </title> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
</head>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<body class="bgManutention">
    <div class="container-fluid h100">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center align-items-center">
                    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_r0tkeuzo.json" background="transparent"
                        speed="1" style="width: 50vw; height: 50vh; margin-top: 100px;" loop autoplay></lottie-player>
                </div>
            </div>
            <div class="col-md-12 descriManutencao">
                <h3>Desculpe pelos transtorno!!</h3>
                <p>Estamos trabalhando o mais rapido possível para te atendermos melhor</p>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.min.js"></script>
</body>

</html>