<%- include('./partials/header') %>

<main>
    <div class="imgHome">
        <h3>Aqui o trabalho é garantido</h3>
    </div>
    <div class="container cardHome">
        <div class="row">
            <div class="col-md-8 textAbout" style="display: flex; align-items: center; justify-content: center;">
                ControlC tem o compromisso de seguir a lei e as normas locais, além de valorizar a relação de respeito com nossos clientes. 
                Somos especialistas em assistência técnica e a comercialização de acessórios eletrônicos com procedência e garantia. 
                O principal propósito é  entregar ao cliente o produto com segurança e satisfação, superando as expectativas dos compradores, como consequência alcançar nossos objetivos de crescimento no mercado tecnológico com credibilidade. Nós estamos sempre empenhados em dar um atendimento diferenciado, separando os melhores produtos, viabilizando a parte da venda e acompanhando o processo do início até ao fim da negociação, sempre com muita disposição, capacidade, profissionalismo e transparência.
            </div>
            <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
                <img src="/img/ecomerce/repair-mobile.png" class="logoHeaders" style="height: 70%;">
            </div>
        </div>
    </div>
</main>






<%- include('./partials/footer') %> 
