<%- include('./partials/header') %>

    <main>
        <div class="container" style="display: flex; justify-content: center; align-items: center; margin-bottom: 139px;">
               <div class="cardLogin cardHome">
                <h2>Login</h2>
                <% if( typeof msg !== 'undefined') {%>
                  <div class="alert alert-secondary" role="alert">
                    <%= msg %>
                  </div>
                  <% } %>
                <form action="/validarLogin" method="POST" class="columnAround">
                  <div>
                    <label for="login">Login:</label>
                    <input class="form-control" type="text" placeholder="Nome do usuario" name="email">
                  </div>
                  <div>
                    <label for="senha">Senha:</label>
                    <input class="form-control" type="password" placeholder="Digite a senha" name="password">
                  </div>
                    
                    <button class="btn btn-warning" type="submit" data-toggle="modal" data-target="#exampleModalCenter">Entrar</button>
                    <a href="#" class="txt">Esqueci a senha</a>
                    
                </form>
               </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
