*{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../img/bgGeral.svg');
    background-color: #f3f3f3;
}

.bgDark{
    background-color: #1d1d1b;
    color: white;
}
.bgOrgangeDark{
    background-color: #e3641b;
}
.h100{
    height: 100vh;
}

main{
    width: 100%;
    height: 100%;
}

.imgHome{
    width: 100%;
    height: 400px;
    background-image: url('../img/imgHome.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.imgHome h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}

.bgManutention{
    background-color: #f07319;
    background-image: url('../img/ecomerce/bgSvg.svg');
    background-size: cover;
}

.descriManutencao h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-align: center;
}

.descriManutencao p{
    letter-spacing: 2px;
    color: white;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}
.logoHeaders{
    height: 60px;
}

.listHeader{
    height: 100%;
}
.listHeader a {
    text-decoration: none;
    color: white;
}
.listHeader li{
    padding: 10px;
    transition: all 0.3s;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listHeader li:hover{
    background-color: #e3641b;
    color: white;
    font-weight: bold;
}

.userHeader{
    border-radius: 50%;
    height: 90%;
    width: 50px;
    border: 3px solid #e3641b;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown-toggle::after{
    display: none !important;
}
.userHeader img{
    width: 30px;
}
.itensFooter{
    font-size: 13px;
    margin-bottom: 30px;
}

footer{
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: center;
}
.containerIconsFooter{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

ion-icon {
    color: blue;
}

.cardHome{
    border-radius: 25px;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #f6f6f6;
    box-shadow: 1px 1px 10px rgb(80, 80, 80);
}

.textAbout{
    letter-spacing: 2px;
    text-align: justify;
    color: rgb(80, 80, 80);
}
.widthCardCategory{
    width: 13%;
}

.cardCategory{
    padding: 10px;
    color: rgb(80, 80, 80);
    background-color: #f6f6f6;
    border-radius: 25px;
    width: 100%;
    box-shadow: 1px 1px 10px rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: auto;
}

.cardCategory p{
    font-size: 18px;
    width: 80%;
    color: rgb(80, 80, 80);
    text-align: center;
    text-transform: uppercase;
    height: 35px;
    border-bottom: 1px solid rgb(170, 170, 170);
    cursor: pointer;
}

.cardCategory p:hover{
    transition: all 0.3s;
    border: none;
    width: 100%;
    color: white;
    background-color: rgb(80, 80, 80);
}

.listProducts{
    width: 87%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.page-item.active .page-link{
    border-color: #ffc107 !important;
    background-color: #ffc107 !important;
}

.infoNomeProduto{
    text-align: center;
    text-transform: uppercase;
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: 22px;
}

.mgBottomInfo{
    margin-bottom: 156px;
}

.infos{
    display: flex;
    flex-direction: column;
}

.dataInfo{
    margin-top: 30px;
    display: flex;
}
.dataInfo h5{
    margin-left: 15px;
}

@media (max-width: 600px){
    main{
        padding: 10px;
    }
    .widthCardCategory{
        width: 100%;
        margin-bottom: 20px;
    }
    .wrapMobile{
        flex-wrap: wrap;
    }

    .listProducts{
        width: 100%;
        justify-content: center;
    }
}